name: PR Check

on:
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-go@v6
      with:
        go-version-file: 'go.mod'
        check-latest: true
    - name: Build
      run: go build -v ./...
    - name: Test
      run: go test -v ./...
    - name: golangci-lint
      uses: golangci/golangci-lint-action@v9
      with:
        version: latest
        args: --timeout=5m

  modern-go-checks:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-go@v6
      with:
        go-version: stable
        check-latest: true
    - name: Modern Check
      run: make modern-check
